body {
    background-color: #fff;
    color: #000;
    --color-background: #fff;
    --color-text: #000;
}

body[data-theme='dark'] {
    background-color: #000;
    color: #fff;
    --color-background: #000;
    --color-text: #fff;
}


